<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="FeedsFilePath" value="D:\workspaces\RSSFilter\App_Data\Feeds.xml"/>
    <!-- add key="FeedsFilePath" value="/data/content/mono_wwwroot/RSSFilter/App_Data/Feeds.xml" / -->
  </appSettings>

  <system.web>
    <compilation debug="false" />
    <authentication mode="None" />
    <sessionState mode="Off" />
    <customErrors mode="Off"/>
  </system.web>

  <system.webServer>
    <defaultDocument>
      <files>
        <add value="Config.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>

</configuration>